@font-face {
  font-family: my-cool-font;
  src: url(../assets/fonts/ProtestRiot-Regular.ttf);
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: my-cool-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
}

:root {
  font-family: my-cool-font ,system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: larger;
  --main-theme-clr: rgb(219, 2, 2);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  /* TODO: Check how to add background picture better to page so it does not stretch */
}

.right {
  animation: swipe_right 0.3s ease-in-out 1;
  will-change: transform;
}

.left {
  animation: swipe_left 0.3s ease-in-out 1;
  will-change: transform;
}

@keyframes swipe_right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes swipe_left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }  
}

h1 {
  font-size: 2.7rem;
}

header, footer {
  padding: 1.4rem;
}

body.blur::before {
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  background-color: rgba(45, 45, 45, 0.3);
  backdrop-filter: blur(4px);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home {
  display: flex;
}

nav {
  display: flex;
  gap: 5.6rem;
}

nav > button {
  appearance: none;
  border: none;
  padding: 0.7rem 5.9rem;
  background-color: var(--main-theme-clr);
  font: inherit;
}

.home:not(button) {
  align-self: stretch;
  flex: 1;
  display: flex;
  padding: 5rem;
}

.about {
  border-radius: 0.7rem;
  /* background-color: rgba(12, 12, 12, 0.9); */
  padding: 1rem;
  width: 30rem;
  align-self: stretch;
}

.about > :nth-child(n) {
  margin-bottom: 0.8em;
}

.about > h2 {
  font-size: 1.9rem;
}

.about > :nth-child(n):not(h2, h3) {
  font-size: 1.1rem;
  font-weight: 100;
}

div#content {
  flex: 1;
  display: flex;
}

#content > :nth-child(n) {
  position: relative;
}

.about span {
  display: block;
}

.about span:first-of-type {
  margin-bottom: 0.4rem;
}

footer {
  display: grid;
  place-content: center;
}