@font-face {
  font-family: my-cool-font;
  src: url(../assets/fonts/ProtestRiot-Regular.ttf);
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: my-cool-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
}

:root {
  font-family: my-cool-font ,system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: larger;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* TODO: Check how to add background picture better to page so it does not stretch */
}

header, footer {
  padding: 1.4rem;
}

header, .about {
  
}

body.blur::before {
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  background-color: rgba(176, 176, 176, 0.3);
  backdrop-filter: blur(4px);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 5.6rem;
}

nav > button {
  appearance: none;
  border: none;
  background-color: transparent;
  font: inherit;
}

.home:not(button) {
  align-self: stretch;
  flex: 1;
  display: flex;
  padding: 5rem;
}

.about {
  border-radius: 0.7rem;
  /* background-color: rgba(12, 12, 12, 0.9); */
  padding: 1rem;
  width: 30rem;
  align-self: stretch;
}

div#content {
  flex: 1;
  display: flex;
}

.about span {
  display: block;
}

.about span:first-of-type {
  margin-bottom: 0.4rem;
}

footer {
  display: grid;
  place-content: center;
}